<!-- jQuery -->
<script src="{{ "/assets/js/jquery.min.js " | prepend: site.baseurl }}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ "/assets/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>
<!-- Custom Theme JavaScript -->
<script src="{{ "/assets/js/hux-blog.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/async_load.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js " | prepend: site.baseurl }}" async="async"></script>

{% if site.site_analysis%}
{% include head/site_analysis.html %}
{% endif %}




