<!-- Short About -->
<section class="visible-md visible-lg">
    <hr><h5><a href="{{'/about/' | prepend: site.url }}">ABOUT ME</a></h5>
    <div class="short-about">
        {% if site.data.short_about.sidebar-avatar %}
            <img src="{{site.data.short_about.sidebar-avatar}}" />
        {% endif %}
        {% if site.data.short_about.sidebar-about-description %}
            <p>{{ site.data.short_about.sidebar-about-description }}</p>
        {% endif %}
        {% include sidebar/social_accounts.html %}
    </div>
</section>